<div class="row">
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header bg-dark text-white py-3">
        <h4 class="my-0 fw-normal">Funcionários</h4>
      </div>
      <div class="card-body">
        <p>
          Acesso exclusivo para funcionários do banco.
        </p>
        <div class="col">
          <a class="w-100 btn btn-lg btn-outline-dark" style="margin:5px;" routerLink="/clientes">Área Clientes</a>
        </div>
        <div class="col">
          <a class="w-100 btn btn-lg btn-outline-dark" style="margin:5px;" routerLink="/contas">Área Contas</a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header bg-dark text-white py-3">
        <h4 class="my-0 fw-normal">Clientes</h4>
      </div>
      <div class="card-body">
        <p>
          Acesso exclusivo para cliente do banco.
        </p>
        <div class="col">
          <a class="w-100 btn btn-lg btn-outline-dark" style="margin:5px;" routerLink="/conta/saque">Saque</a>
        </div>
        <div class="col">
          <a class="w-100 btn btn-lg btn-outline-dark" style="margin:5px;" routerLink="/conta/deposito">Depósito</a>
        </div>
        <div class="col">
          <a class="w-100 btn btn-lg btn-outline-dark" style="margin:5px;" routerLink="/conta/transferencia">Transferência</a>
        </div>
        <div class="col">
          <a class="w-100 btn btn-lg btn-outline-dark" style="margin:5px;" routerLink="/conta/extrato">Extrato</a>
        </div>
      </div>
    </div>
  </div>
</div>
